@import "@/assets/var.scss";

.index-page {
  min-height: 100vh;
  background-color: #f1f1f1;

  .header {
    background: $color-red;
    padding: 30px 40rpx;
    box-sizing: border-box;
    height: 250rpx;

    .avatar {
      border-radius: 20rpx !important;
      width: 160rpx !important;
      height: 160rpx !important;
    }

    .total {
      text-align: right;
      color: #fff;

      .income-text {
        font-size: 42rpx;
      }

      .income-desc {
        font-size: 24rpx;

        .icon {
          padding-right: 8rpx;
        }
      }

      .hold-wrapper {
        height: 50rpx;

        .hold-percentage {
          font-size: 24rpx;
          margin-right: 8rpx;
        }

        .hold-amount {
          font-size: 34px;
        }
      }

      .hold-desc {
        font-size: 24rpx;
      }
    }
  }

  .marker {
    background-color: #fefefe;
    padding: 20rpx 0;
    margin-bottom: 8rpx;

    .markerItem {
      text-align: center;
      color: $color-red;

      &-text {
        color: #232121;
        font-size: 24rpx;
        padding-bottom: 4rpx;
      }

      &-total {
        font-size: 24rpx;
      }

      &-change {
        font-size: 24rpx;

        :first-child {
          text-align: right;
          padding: 0 8rpx;
        }

        :last-child {
          text-align: left;
          padding: 0 8rpx;
        }
      }
    }
  }

  .list {
    &-header {
      background: #fff;
      text-align: center;
      padding: 32rpx 0;
      font-size: 28rpx;
      line-height: 48rpx;

      .add-fund {
        margin-left: 8rpx;
      }
    }
  }
}
